[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
secure-file-priv= NULL

innodb_buffer_pool_size = 1G  # Usar 70% de la RAM disponible para mejorar el rendimiento de InnoDB
query_cache_size = 64M        # Cacheo de consultas para bases de datos de lectura intensiva
tmp_table_size = 64M          # Tamaño máximo de tablas temporales
max_heap_table_size = 64M
innodb_log_buffer_size = 16M